:root {
    --primary: #C7D9DD;
    --black: #2f2f2f;
    --blackDark: #1f1f1f;
    --white: #F8FAFC;
    --gray: #6a6a6a;

    --spacing: 5rem;

    --primaryFont: 'Roboto', sans-serif;
    --secondaryFont: 'Lato', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--white);
}

h1,
h2,
h3 {
    font-weight: 900;
    margin: calc(var(--spacing) / 2) 0;
}

h1 {
    font-size: 4.4rem;
    font-family: var(--primaryFont);
}

h2 {
    font-size: 3.6rem;
    font-family: var(--primaryFont);
}

h3 {
    font-size: 2.8rem;
    font-family: var(--secondaryFont);

}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    list-style-type: none;
    gap: 4rem;
    font-family: var(--secondaryFont);
}

a {
    color: var(--);
}


.mt-5 {
    margin-top: 5rem;
}

.container {
    width: 100%;
}

@media (min-width: 76.8rem) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 70%;
        margin: 0 auto;
    }
}


.header {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    background-color: var(--primary);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.navbar-pages {
    display: flex;
}

.navbar-pages li .nav-link {
    padding: .6rem;
}

.navbar-pages li a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    opacity: .7;
    color: var(--black);
}

.navbar-pages li a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1rem;
    right: 1rem;
    background: var(--black);
    height: .4rem;
    opacity: 1;
    visibility: visible;
    width: 0;
    -webkit-transition: .15s all ease-out;
    -o-transition: .15s all ease-out;
    transition: .15s all ease-out;
}

.navbar-pages li a:hover {
    opacity: 1;
}

.navbar-pages li a:hover:before {
    width: calc(100% - 2rem);
}

.navbar-pages li.active a {
    opacity: 1;
}

.navbar-pages li.active a:before {
    width: calc(100% - 2rem);
}

.navbar-user {
    display: flex;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
}

.navbar-brand h1 {
    margin: 0;
}

.hero {
    width: 100%;
    height: 50rem;
    display: flex;
    padding: 1rem 0;
    background-color: var(--primary);
}

.hero-shop {
    width: 100%;
    height: 25rem;
    display: flex;
    padding: 1rem 0;
    background-color: var(--primary);
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-content-shop {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--black);
    padding: 4rem 0;
}

.hero-content-shop .hero-description {
    font-size: 2rem;
}

.hero-content-shop h1 {
    font-size: 5rem;
    margin: 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1rem;
    color: var(--black);
    padding: 8rem 0;
}

.hero-text h1 {
    font-size: 5rem;
    line-height: 1;
    margin: 0;
}

.hero-description {
    font-size: 1.5rem;
    font-family: var(--secondaryFont);
    margin-top: 4rem m !important;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.star-product {
    transform: rotateY(180deg);
}

.button {
    font-family: var(--secondaryFont);
    padding: 1rem 2.5rem;
    border-radius: 3rem;
    font-weight: 700;
}

.button-shop {
    color: var(--white);
    font-weight: 500;
    background-color: var(--black);
}

.button-shop:active {
    background-color: var(--blackDark);
}

.button-explore {
    color: var(--black);
    border: solid .2rem var(--black);
}

.button-explore-v2 {
    background-color: var(--black);
    color: var(--white);
    font-weight: 600;
    border: solid .2rem var(--black);
}

.button-explore-v2:hover {
    background-color: var(--blackDark);
}

.hero-img {
    display: flex;
    justify-content: center;
    width: 70%;
}

.hero-img img {
    z-index: 2;

}

.hero-img-wrap {
    position: relative;
}

.hero-img-wrap:after {
    content: "";
    position: absolute;
    width: 20rem;
    height: 20rem;
    background-image: url("../img/dots-black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    right: -5rem;
    top: 5rem;
}

.products {
    padding: 10rem 0;
    display: flex;
    gap: 1rem;
    height: 60rem;
}

.products-shop {
    padding: 10rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.intro {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.intro-title {
    font-size: 2.4rem;
    margin: 0;
}

.intro-description {
    font-size: 1.6rem;
    color: var(--gray);
    font-family: var(--);
    margin: 1rem 0;
}

.helper-button {
    margin-top: 1rem;
}

.section {
    width: 25%;
}

.products-shop .product {
    padding: 1rem 2rem;
}

.product .product-title {
    margin: 1rem;
}

.shop-product-img {
    width: 25rem;
}


.product-item {
    text-align: center;
    text-decoration: none;
    display: block;
    position: relative;
    padding-bottom: 5rem;
    cursor: pointer;
}

.product-item .product-thumbnail {
    margin-bottom: 3rem;
    position: relative;
    top: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.product-title {
    font-weight: 600;
    font-size: 1.6rem;
}

.product-price {
    font-weight: 800 !important;
    font-size: 1.8rem !important;
}

.product-price,
.product-title {
    color: #2f2f2f;
    text-decoration: none;
}

.product-item .icon-cross {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    display: inline-block;
    background: #2f2f2f;
    bottom: 1.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: -17.5px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.product-item .icon-cross img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.product-item:before {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    background: #dce5e4;
    height: 0%;
    z-index: -1;
    border-radius: 1rem;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.product-item:hover .product-thumbnail {
    top: -2.5rem;
}

.product-item:hover .icon-cross {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

.product-item:hover:before {
    height: 70%;
}

.about-us {
    padding: 10rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-us-text {
    width: 50%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.about-us-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-us-img {
    width: 40%;
}

.about-us .img-wrap {
    position: relative;
}

.about-us .img-wrap:before {
    position: absolute;
    content: "";
    width: 25.5rem;
    height: 21.7rem;
    background-image: url("../img/dots-yellow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
    z-index: -1;
}

.about-us .img-wrap img {
    border-radius: 2rem;
}

.section-title {
    margin: 0;
}

.about-us p {
    margin-top: 0;
    margin-bottom: 3rem;
    color: var(--gray);
}

.feature {
    padding: 0 3rem 2rem 0;
}

.feature .icon {
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
}

.feature .icon:before {
    content: "";
    width: 3.3rem;
    height: 3.3rem;
    position: absolute;
    background: rgba(59, 93, 80, 0.2);
    border-radius: 50%;
    right: -.8rem;
    bottom: 0;
}

.feature h3 {
    margin: 0;
    font-size: 1.4rem;
    color: #2f2f2f;
}

.feature p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: var(--gray);
}

.help {
    padding: 7rem 0;
    gap: 3rem;
    display: flex;
    justify-content: space-between;
}

.imgs-grid {
    width: 60%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(27, 1fr);
    position: relative;
}

.imgs-grid:before {
    position: absolute;
    content: "";
    width: 25.5rem;
    height: 21.7rem;
    background-image: url("../img/dots-green.svg");
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
    z-index: -1;
}

.imgs-grid .grid {
    position: relative;
}

.imgs-grid .grid img {
    border-radius: 2rem;
    max-width: 100%;
}

.imgs-grid .grid.grid-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 18;
    grid-column: 1 / span 18;
    -ms-grid-row: 1;
    -ms-grid-row-span: 27;
    grid-row: 1 / span 27;
}

.imgs-grid .grid.grid-2 {
    -ms-grid-column: 19;
    -ms-grid-column-span: 27;
    grid-column: 19 / span 27;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / span 5;
    padding-left: 2rem;
}

.imgs-grid .grid.grid-3 {
    -ms-grid-column: 14;
    -ms-grid-column-span: 16;
    grid-column: 14 / span 16;
    -ms-grid-row: 6;
    -ms-grid-row-span: 27;
    grid-row: 6 / span 27;
    padding-top: 2rem;
}

.help-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0 1rem;
    font-size: 1.5rem;
}

.help-text p {
    color: var(--gray);
}

.list-unstyled {
    padding-left: 0;
    list-style: none
}

.custom-list {
    width: 100%;
    font-size: 1.4rem;
    color: var(--gray);
}

.custom-list li {
    display: inline-block;
    width: calc(50% - 2rem);
    margin-bottom: 1.2rem;
    line-height: 1.5;
    position: relative;
    padding-left: 2rem;
}

.custom-list li:before {
    content: "";
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    border: 2px solid #3b5d50;
    position: absolute;
    left: 0;
    top: .8rem;
}

.footer-section {
    padding: 8rem 0;
    background: var(--primary);
}

.footer-section .container {
    position: relative;
}

.subscription-head {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    gap: .5rem;
}

.subscription-head span {
    font-weight: 700;
    font-family: var(--primaryFont);
    color: var(--black);
}

.footer-section a {
    text-decoration: none;
    color: var(--black);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.footer-section a:hover {
    color: var(--blackDark);
}

.subscription-form {
    margin-bottom: 4rem;
    position: relative;
    z-index: 2;
    margin-top: 10rem;
}

.subscription-form form {
    display: flex;
    gap: 1rem;
}

.subscription-form form a {
    width: 6rem;
    height: 5rem;
}

.button-telegram {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blackDark);
    border-radius: 1rem;
}

.button-telegram img {
    width: 3rem;
}

@media (min-width: 992px) {
    .subscription-form {
        margin-top: 0;
        margin-bottom: 8rem;
    }
}

.subscription-form h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--black);
}

.form-control {
    height: 5rem;
    border-radius: 1rem;
    padding: 1rem;
    font-family: var(--secondaryFont);
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: var(--blackDark);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.form-control::-webkit-input-placeholder {
    font-size: 1.4rem;
}

.form-control::-moz-placeholder {
    font-size: 1.4rem;
}

.form-control:-ms-input-placeholder {
    font-size: 1.4rem;
}

.form-control:-moz-placeholder {
    font-size: 1.4rem;
}

.subscription-form .btn {
    border-radius: 1rem !important;
}

.sofa-img {
    transform: rotateY(180deg);
    position: absolute;
    top: -25rem;
    z-index: 1;
    right: 0;
}

.footer-section .sofa-img img {
    max-width: 38rem;
}

.footer-links {
    display: flex;
}

.social-networks {
    width: 35%;
    padding: 0 3rem 0 0;
}

.social-networks .title {
    margin: 0;
}

.social-description {
    font-family: var(--secondaryFont);
    color: var(--gray);
}

.links-wrap {
    width: 65%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

@media (min-width: 992px) {
    .links-wrap {
        margin-top: 5.5rem;
    }
}

.links-wrap ul li {
    margin-bottom: 1rem;
}

.links-wrap ul li a {
    font-family: var(--secondaryFont);
    font-weight: 500;
    color: var(--black);
}

.links-wrap ul {
    font-family: var(--secondaryFont);
    color: var(--blackDark);
    list-style-type: disc;
}

.custom-social li {
    margin: 2px;
    display: inline-block;
}

.custom-social li a {
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    display: inline-block;
    background: #dce5e4;
    color: var(--blackDark);
    border-radius: 50%;
}

.custom-social li a:hover {
    background: var(--blackDark);
    color: var(--white);
}

.border-top {
    border-color: var(--gray);
}

.copyright {
    font-family: var(--primaryFont);
    color: var(--black);
    font-size: 1.7rem !important;
}

.github {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.github img {
    width: 2.5rem;
}